---

---

<div
  class="dark text-muted text-sm bg-black bg-transparent border-b border-slate-800 text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="bg-slate-700 text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <a
    href="https://docs.google.com/document/d/1srAOMW7tHno96vPwmzlWDppqe5-ux-FOHQ3BElFgZW0/edit?tab=t.0"
    target="”_blank”"
    class="hover:underline text-slate-400 font-medium">Our 2024-2025 schedule is now available.</a
  >
  <a
    href="https://docs.google.com/document/d/1srAOMW7tHno96vPwmzlWDppqe5-ux-FOHQ3BElFgZW0/edit?tab=t.0"
    target="”_blank”"
    class="hover:underline text-slate-400 font-medium ml-auto inline-block"
    >Join us December 12-13 for the Winter Concert!</a
  >
</div>
