---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Content
    isReversed
    tagline="About Us"
    title="Meet Our Director"
    items={[]}
    image={{
      src: '~/assets/images/Brady-happy-cropped.jpg',
      alt: 'Picture of Mrs. Brady',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-1xl font-bold tracking-tight text-white sm:text-3xl mb-1">Caroline Brady</h3>
      <p class="text-base">
        Meet Caroline Brady, our dedicated dance director with a passion for inspiring young dancers at AHS, where she
        not only teaches an array of dance styles but also leads Apex renowned dance company, ADCompany. Originally
        hailing from Fuquay-Varina, NC, Mrs. Bradys journey in the world of dance education has been nothing short of
        remarkable. Wake County born and bred, she graduated from East Carolina Universitys BFA Program in Dance
        Education to embark on a path that has seen her excel in various dance disciplines. Her extensive training and
        experience encompass jazz, modern, improvisation, composition, ballet, tap, hip hop, yoga, and a myriad of other
        genres. dedication to her craft extends beyond the classroom.
      </p>
      <div class="mt-2 text-base">
        <Button variant="link" href="/caroline-brady">Learn more</Button>
      </div>
    </Fragment>
  </Content>

  <Content items={[]}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Madeline Kelly</h3>
      <p class="text-base">
        Meet Madeline Kelly, our Assistant Stage Director.
      </p>
    </Fragment>
  </Content>
</Layout>
