---
import { SITE } from 'astrowind:config';
---

<span
  class="flex items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<img class="m-1" src="/assets/images/COUGAR-PM-4C.png" style="height: 30px; width: auto;"> {SITE?.name}
</span>
